/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */

nav {
  background-color: #4056A1;
  color: #FFFFFF;
  width: 100vw;
  height: 120px;
  padding: 1.5em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro';
}

.right-nav-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-solid {
  color: red;
}